<h1>メニュー管理</h1>

<table class="table table-bordered">
  <tr>
    <th>メニュー名</th>
    <td><%= @menu.content %></td>
  </tr>
  <tr>
    <th>価格</th>
    <td><%= @menu.price %></td>
  </tr>
  <tr>
    <th>カテゴリ</th>
    <td><%= @menu.category %></td>
  </tr>
</table>

<%= link_to "Back to Menu", @user, class: 'btn btn-secondary btn-sm' %>
<%= link_to "Edit", edit_menu_path, class: 'btn btn-warning btn-sm' %>
<%= link_to 'Delete', @menu, method: :delete, data: { confirm: 'Are you sure to delete?' },  class: 'btn btn-danger btn-sm' %>