<div class="container">
    <div class="row">
        <div class="bg-info p-3 p-sm-3 my-4 rounded">
            <h3 class="text-center"><%= @user.shop %></h3>
        </div>
        <div class="col-sm-12">
            <ul class="nav nav-tabs nav-justified mb-3">
              <li class="nav-item"><a href="<%= signatures_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(signatures_user_path(@user)) %>">Signatures  </a></li>
              <li class="nav-item"><a href="<%= appetizers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(appetizers_user_path(@user)) %>">Appetizers  </a></li>
              <li class="nav-item"><a href="<%= mains_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(mains_user_path(@user)) %>">Mains  </a></li>
              <li class="nav-item"><a href="<%= sides_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(sides_user_path(@user)) %>">Sides  </a></li>
              <li class="nav-item"><a href="<%= bevarages_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(bevarages_user_path(@user)) %>">Bevarages  </a></li>
            </ul>
            <%= render 'menus/menus', menus: @menus %>
        </div>
    </div>
</div>
